[Desktop Entry]
Version=1.0 
Comment=This is launcher 
Exec=/home/iss-user/.DoNotDelete/start-rstudio.sh
Terminal=false 
Type=Application
Name[en_SG]=start-rstudio
