[Desktop Entry]
Version=1.0 
Comment=This is launcher 
Exec=/home/iss-user/.DoNotDelete/start-spyder.sh
Icon=/home/iss-user/.DoNotDelete/png-spyder.png
Terminal=false 
Type=Application
Name[en_SG]=Spyder-py3
